<?xml version="1.0" encoding="UTF-8" ?>
<module>
  <name>xmlimport</name>
  <displayName>XML Import</displayName>
  <version>1.0.0</version>
  <author>Marco Zagato</author>
  <description>This module handles XML file imports.</description>
  <tab>administration</tab>
  <is_configurable>1</is_configurable>
  <need_instance>0</need_instance>
  <limited_countries>
    <country iso="ZA" /> <!-- South Africa -->
  </limited_countries>
  <limited_currencies>
    <currency iso="ZAR" /> <!-- South African Rand -->
  </limited_currencies>
</module>
